build/
screenshot/
!nametag/
nametag/*
!nametag/liu_muning.png
video/
dist/
.venv/
test/
*__pycache__/
*.log
*.DS_Store
*.prof
*.config_tmp.yaml
*config_custom.yaml
*.exe
*.spec
esp32/wifi_ble_hid_demo/sdkconfig.defaults
